*~
*(from*
.DS_Store
snippets/.DS_Store
autoinsert/.gitignore
.Rhistory
.juliahistory
.mc-lists.el
ac-comphist.dat
auto-install/
auto-save-list/
bm-el-repository
bookmarks
el-get/
elpa/
emacs-places
eshell/
history
image-dired/
latex-math-preview-cache/
plugins/
recentf
request/
tramp
url/
/projectile-bookmarks.eld
/projectile.cache
