.gitignore
*~
*(from*
.DS_Store
snippets/.DS_Store
autoinsert/.gitignore
*.info
ac-comphist.dat
auto-install/
auto-save-list/
bm-el-repository
bookmarks
el-get/
elpa/
emacs-places
emacs-places_*
eshell/
history
history_*
image-dired/
latex-math-preview-cache/
plugins/
recentf
recentf_*
request/
tramp
url/
projectile-bookmarks.eld
projectile-bookmarks_*.eld
projectile-cache_*
*.elc
/.python-environments/
/ido.last
/skk/
/misc/aspell.en.pws
company-statistics-cache.el
company-statistics-cache_*.el
/anaconda-mode/
/init.d/500_email-no-vc.el
/snippets/mu4e-compose-mode/
/packages/
snippets/text-mode/peer
/misc/hunspell.en
/init.d/000_misc.el
/mc-lists.el
/misc/LanguageTool-3.5
/misc/zotero.bib
/misc/rsync_channing.sh
/misc/rsync_dope-r.sh
/misc/rsync_o2.sh
/misc/rsync_odyssey.sh
*.aff
*.dic
