*.DS_Store
*~
*.zip
*.tar.gz
.Rhistory
.tramp_history
*.RData
*.pdf
*.png
*.jpg
*.doc*
*.ppt*
*.xls*
*.csv
*.aux
*.bib
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
auto/
figure/
cache/
*.icloud
